@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	[data-theme="light"] {
		--text: 0 0% 0%;
		--text-shade-1: 0 0% 4%;
		--text-shade-2: 0 0% 8%;

		--background: 0 0% 100%;
		--background-shade-1: 0 0% 96%;
		--background-shade-2: 0 0% 92%;

		--primary: 198 53% 81%;
		--primary-dark: 198 53% 77%;
		--primary-darker: 198 53% 73%;
		--primary-light: 198 53% 85%;
		--primary-lighter: 198 53% 89%;

		--secondary: 28 100% 85%;
		--secondary-dark: 28 100% 81%;
		--secondary-darker: 28 100% 77%;
		--secondary-light: 28 100% 89%;
		--secondary-lighter: 28 100% 93%;

		--accent: 258 26% 33%;
		--accent-dark: 258 26% 29%;
		--accent-darker: 258 26% 25%;
		--accent-light: 258 26% 37%;
		--accent-lighter: 258 26% 41%;
	}
	
	[data-theme="dark"] {
		--text: 0 0% 100%;
		--text-shade-1: 0 0% 95%;
		--text-shade-2: 0 0% 90%;

		--background: 0 0% 6%;
		--background-shade-1: 0 0% 12%;
		--background-shade-2: 0 0% 16%;

		--primary: 197 38% 72%;
		--primary-dark: 197 38% 68%;
		--primary-darker: 197 38% 64%;
		--primary-light: 197 38% 76%;
		--primary-lighter: 197 38% 80%;

		--secondary: 28 56% 68%;
		--secondary-dark: 28 56% 64%;
		--secondary-darker: 28 56% 60%;
		--secondary-light: 28 56% 72%;
		--secondary-lighter: 28 56% 76%;

		--accent: 258 26% 38%;
		--accent-dark: 258 26% 42%;
		--accent-darker: 258 26% 46%;
		--accent-light: 258 26% 34%;
		--accent-lighter: 258 26% 30%;
	}

	[data-theme="rose-pine"] {
		--text: 245 50% 91%;
		--text-shade-1: 245 50% 87%;
		--text-shade-1: 245 50% 83%;

		--background: 249 22% 12%;
		--background-shade-1: 249 22% 16%;
		--background-shade-2: 230 16% 18%;

		--primary: 189 43% 73%;
		--secondary: 2 55% 83%;
		--accent: 35 88% 72%;
	}

	[data-theme="tokyonight"] {
		--text: 229 73% 90%;
		--background: 230 24% 19%;
		--primary: 202 100% 75%;
		--secondary: 261 85% 79%;
		--accent: 36 66% 64%;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
