@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [data-theme="light"] {
        --text: 0 0% 0%;
        --text-50: 0 0% 4%;
        --text-100: 0 0% 8%;
        --text-150: 0 0% 12%;
        --text-200: 0 0% 18%;
        --text-250: 0 0% 20%;
        --text-300: 0 0% 24%;

        --background: 0 0% 100%;
        --background-50: 0 0% 96%;
        --background-100: 0 0% 92%;
        --background-150: 0 0% 88%;
        --background-200: 0 0% 84%;
        --background-250: 0 0% 80%;
        --background-300: 0 0% 76%;

        --ui-primary-300: 336 77% 16%;
        --ui-primary-350: 336 77% 20%;
        --ui-primary-400: 336 77% 24%;
        --ui-primary-450: 336 77% 28%;
        --ui-primary-500: 336 77% 32%;
        --ui-primary-550: 336 77% 36%;
        --ui-primary-600: 336 77% 40%;
        --ui-primary-650: 336 77% 44%;
        --ui-primary-700: 336 77% 48%;

        --ui-secondary-300: 260 38% 33%; 
        --ui-secondary-350: 260 38% 37%; 
        --ui-secondary-400: 260 38% 41%; 
        --ui-secondary-450: 260 38% 45%; 
        --ui-secondary-500: 260 38% 49%; 
        --ui-secondary-550: 260 38% 53%; 
        --ui-secondary-600: 260 38% 57%; 
        --ui-secondary-650: 260 38% 61%; 
        --ui-secondary-700: 260 38% 65%; 

        --ui-accent-300: 58 59% 63%;
        --ui-accent-350: 58 59% 67%;
        --ui-accent-400: 58 59% 71%;
        --ui-accent-450: 58 59% 75%;
        --ui-accent-500: 58 59% 79%;
        --ui-accent-550: 58 59% 83%;
        --ui-accent-600: 58 59% 88%;
        --ui-accent-650: 58 59% 92%;
        --ui-accent-700: 58 59% 96%;

        --folder: 212 70% 35%;
        --file: 336 77% 32%;
    }
	
	[data-theme="dark"] {
        --text: 0 0% 100%;
        --text-50: 0 0% 96%;
        --text-100: 0 0% 92%;
        --text-150: 0 0% 88%;
        --text-200: 0 0% 84%;
        --text-250: 0 0% 80%;
        --text-300: 0 0% 76%;

        --background: 0 0% 3%;
        --background-50: 0 0% 7%;
        --background-100: 0 0% 11%;
        --background-150: 0 0% 15%;
        --background-200: 0 0% 19%;
        --background-250: 0 0% 23%;
        --background-300: 0 0% 27%;

        --ui-primary-300: 259 85% 64%;
        --ui-primary-350: 259 85% 68%;
        --ui-primary-400: 259 85% 72%;
        --ui-primary-450: 259 85% 76%;
        --ui-primary-500: 259 85% 80%;
        --ui-primary-550: 259 85% 84%;
        --ui-primary-600: 259 85% 88%;
        --ui-primary-650: 259 85% 92%;
        --ui-primary-700: 259 85% 96%;

        --ui-secondary-300: 58 59% 63%;
        --ui-secondary-350: 58 59% 67%;
        --ui-secondary-400: 58 59% 71%;
        --ui-secondary-450: 58 59% 75%;
        --ui-secondary-500: 58 59% 79%;
        --ui-secondary-550: 58 59% 83%;
        --ui-secondary-600: 58 59% 87%;
        --ui-secondary-650: 58 59% 91%;
        --ui-secondary-700: 58 59% 95%;

        --ui-accent-300: 336 72% 21%;
        --ui-accent-350: 336 72% 25%;
        --ui-accent-400: 336 72% 29%;
        --ui-accent-450: 336 72% 33%;
        --ui-accent-500: 336 72% 37%;
        --ui-accent-550: 336 72% 41%;
        --ui-accent-600: 336 72% 45%;
        --ui-accent-650: 336 72% 49%;
        --ui-accent-700: 336 72% 53%;

        --folder: 212 56% 68%;
        --file: 336 72% 37%;
    }

	[data-theme="rose-pine"] {
        --text: 245 50% 91%;
        --text-50: 245 50% 87%;
        --text-100: 245 50% 83%;
        --text-150: 245 50% 79%;
        --text-200: 245 50% 75%;
        --text-250: 245 50% 71%;
        --text-300: 245 50% 67%;

        --background: 249 22% 12%;
        --background-50: 249 22% 16%;
        --background-100: 249 22% 20%;
        --background-150: 249 22% 24%;
        --background-200: 249 22% 28%;
        --background-250: 249 22% 32%;
        --background-300: 249 22% 36%;

        --ui-primary-300: 189 43% 57%;
        --ui-primary-350: 189 43% 61%;
        --ui-primary-400: 189 43% 65%;
        --ui-primary-450: 189 43% 69%;
        --ui-primary-500: 189 43% 73%;
        --ui-primary-550: 189 43% 77%;
        --ui-primary-600: 189 43% 81%;
        --ui-primary-650: 189 43% 85%;
        --ui-primary-700: 189 43% 89%;

        --ui-secondary-300: 35 74% 54%;
        --ui-secondary-350: 35 74% 58%;
        --ui-secondary-400: 35 74% 62%;
        --ui-secondary-450: 35 74% 66%;
        --ui-secondary-500: 35 74% 70%;
        --ui-secondary-550: 35 74% 74%;
        --ui-secondary-600: 35 74% 78%;
        --ui-secondary-650: 35 74% 82%;
        --ui-secondary-700: 35 74% 86%;

        --ui-accent-300: 343 58% 27%;
        --ui-accent-350: 343 58% 31%;
        --ui-accent-400: 343 58% 35%;
        --ui-accent-450: 343 58% 39%;
        --ui-accent-500: 343 58% 43%;
        --ui-accent-550: 343 58% 47%;
        --ui-accent-600: 343 58% 51%;
        --ui-accent-650: 343 58% 55%;
        --ui-accent-700: 343 58% 59%;

        --folder: 197 49% 38%;
        --file: 267 57% 78%;
    }

	[data-theme="tokyonight"] {
        --text: 229 73% 86%;
        --text-50: 229 73% 82%;
        --text-100: 229 73% 78%;
        --text-150: 229 73% 74%;
        --text-200: 229 73% 70%;
        --text-250: 229 73% 66%;
        --text-300: 229 73% 62%;

        --background: 235 19% 13%;
        --background-50: 235 19% 17%;
        --background-100: 235 19% 21%;
        --background-150: 235 19% 25%;
        --background-200: 235 19% 29%;
        --background-250: 235 19% 33%;

        --ui-primary-300: 221 82% 58%;
        --ui-primary-350: 221 82% 62%;
        --ui-primary-400: 221 82% 66%;
        --ui-primary-450: 221 82% 70%;
        --ui-primary-500: 221 82% 74%;
        --ui-primary-550: 221 82% 78%;
        --ui-primary-600: 221 82% 82%;
        --ui-primary-650: 221 82% 86%;
        --ui-primary-700: 221 82% 90%;

        --ui-secondary-300: 261 85% 63%;
        --ui-secondary-350: 261 85% 67%;
        --ui-secondary-400: 261 85% 71%;
        --ui-secondary-450: 261 85% 75%;
        --ui-secondary-500: 261 85% 79%;
        --ui-secondary-550: 261 85% 83%;
        --ui-secondary-600: 261 85% 87%;
        --ui-secondary-650: 261 85% 91%;
        --ui-secondary-700: 261 85% 95%;

        --ui-accent-300: 229 23% 17%;
        --ui-accent-350: 229 23% 21%;
        --ui-accent-400: 229 23% 25%;
        --ui-accent-450: 229 23% 29%;
        --ui-accent-500: 229 23% 33%;
        --ui-accent-550: 229 23% 37%;
        --ui-accent-600: 229 23% 41%;
        --ui-accent-650: 229 23% 45%;
        --ui-accent-700: 229 23% 49%;

        --folder: 349 89% 72%;
        --file: 179 85% 84%;
    }
}

html, body {
    width: 100%;
    height: 100%;

    background-color: var(--background);

    overflow: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background-color: var(--ui-accent-400);
}

::-webkit-scrollbar-thumb {
    background-color: var(--text);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-shade-1);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--text-shade-2);
}
